.App {
  background-color: var(--background-primary);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-main {
  display: flex;
  width: 100%;
  margin-top: 50px;
  gap: 40px;
}

.App-column {
  width: 100%;
}

.AddWidget {
  margin-top: 40px;
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #4F545C;
  border-radius: 74px;
  background: transparent;
  color: #4F545C;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 16px;
  font-weight: 700;
}

.AddWidget>img {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}